<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
      praesentium facere cum facilis autem ducimus quos corporis. Quae,
      necessitatibus rem!
    </p>
  </header>
</section>
<div class="container">
  <section class="block block--dark block--skewed-left">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
      praesentium facere cum facilis autem ducimus quos corporis. Quae,
      necessitatibus rem!
    </p>
  </section>
</div>
